* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ESTILO HEADER */

.imgLogoHeader {
    width: 250px;
}

.header {
    width: 100%;
    min-height: 40px;
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    gap: 8px 15px;
}

.headerButtonGroup {
    display: flex;
    gap: 15px;
}

.buttonHeader {
    font-family: 'Open Sans', Arial;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 2px solid transparent;
    transition: 0.4s;
    padding: 6px;
}

.buttonHeader:active {
    transform: scale(0.70);
}

.buttonHeader:hover {
    cursor: pointer;
    border-bottom: 2px solid red
}

.sectionTitle {
    font-size: 26px;
    font-family: 'Open Sans', Arial;
    text-align: center;
    padding-top: 20px;
}

.sectionDescription {
    text-align: center;
    color: #383838;
}

@media (max-width: 640px) {

    .header {
        padding: 15px;
        flex-direction: column;
        justify-content: center;
    }

    .headerButtonGroup {
        padding: 10px;
    }

    .imgLogoHeader {
        width: 250px;
    }
}

@media (max-width: 340px) {

    .header {
        flex-direction: column;
        justify-content: center;
        height: 140px;
    }

    .headerButtonGroup {
        padding: 10px;
    }

    .buttonHeader {
        width: 70px;
    }

    .imgLogoHeader {
        width: 220px;
    }
}

/* ESTILO SECTION */

.gridContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "mainContent sidebarContent";
    padding: 20px;
    flex: 1 0 auto;
}

@media (max-width: 680px) {
    .gridContainer {
        grid-template-areas: "mainContent sidebarContent";
        display: flex;
        flex-direction: column;
    }

    /*.gridContainer {
        display: flex;
        flex-direction: column;
    }*/
}

.mainCardImage {
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.sidebarCardImage {
    width: 100%;
    border-radius: 10px;
}

.categoryCard {
    width: 280px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    padding: 5px;
}

.categoryCard:hover {
    border-color: black;
}

.sidebarImage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: mainContent;
}

.mainCategoryCardTitle {
    font-family: 'Open Sans', Arial;
    padding: 6px;
    text-align: center;
}

.mainCategoryCardDescription {
    padding: 6px;
}

.sidebarContent {
    background-color: #383838;
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    grid-area: sidebarContent;
    gap: 20px;
}

.sidebarCard {
    width: 75%;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.sidebarCard:hover {
    border-color: gainsboro;
}

.sidebarCardTitle {
    font-family: 'Open Sans', Arial;
    text-align: center;
    padding: 10px;
}

.logoFooter {
    width: 180px;
}

.footer {
    width: 100%;
    min-height: 40px;
    background-color: #1C1C1C;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.footerAnchor {
    color: white;
    text-decoration: none;
}

@media (max-width: 350px) {
    .footer {
        justify-content: center;
    }

    .footerAnchor {
        margin: 10px;
    }
}

